.itemCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border-radius: 10px;
}

.itemCard img {
	max-height: 100px;
}

.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.priceBuy {
	display: flex;
	align-items: flex-start;
}

.priceBuy input {
	margin-left: auto;
	margin-right: 1rem;
}

.priceBuy button {
	padding: 0.25rem 0.5rem;
	border: none;
	cursor: pointer;
}

.description {
	max-height: 4.5rem;
	overflow: hidden;
}
